<div class="container-fluid">
    <!-- Post 1 -->
    <div *ngFor="let post of posts; let i = index"
     class="post d-flex flex-column justify-content-center align-items-center text-center"
     [ngClass]="{'bg-light': i % 2 === 0, 'bg-secondary': i % 2 !== 0}">
      <div class="content">
        <img src="{{post.imageUrl}}" class="img-fluid mb-4" alt="Post Image">
        <h2 class="text-primary">{{post.title}}</h2>
        <p class="lead">{{post.text}}</p>
        <p class="text-muted">Opublikowany <span>{{post.metaData.createdDate | date: 'dd-MM-yyyy'}} </span></p>
      </div>
      <button class="btn btn-primary mt-3" (click)="showDetails(post.id)">Szczegóły</button>
    </div>
    </div>
  
  