<div class="container-fluid">
  <div *ngFor="let post of posts; let i = index"
       class="post d-flex flex-column justify-content-center align-items-center p-4"
       [ngClass]="{'bg-dark': i % 2 !== 0, 'bg-light': i % 2 === 0}">
    <div class="content">
      <img src="{{post.imageUrl}}" class="img-fluid mb-4 d-block mx-auto" alt="Post Image">
      <h2 [ngClass]="{'text-info': i % 2 === 0, 'text-white': i % 2 !== 0}">{{post.title}}</h2>
      <p class="lead" [ngClass]="{'text-dark': i % 2 === 0, 'text-light': i % 2 !== 0}" [innerHTML]="post.text"></p>
      <p class="small" [ngClass]="{'text-muted': i % 2 === 0, 'text-white-50': i % 2 !== 0}">
        Opublikowany <span>{{post.metaData.createdDate | date: 'dd-MM-yyyy'}}</span>
      </p>
    </div>
    <button class="btn btn-info text-white mt-3" (click)="showDetails(post.id)">Szczegóły</button>
  </div>
</div>
