<div *ngIf="message && type=='success'" class="alert alert-success position-fixed bottom-0 start-0 m-3  p-3 rounded shadow" role="alert">
    {{ message }}
  </div>
<div *ngIf="message && type === 'error'" 
     class="alert alert-danger position-fixed bottom-0 start-0 m-3 p-3 rounded shadow" 
     role="alert">
  {{ message }}
</div>
<div *ngIf="message && type === 'info'" 
     class="alert alert-warning position-fixed bottom-0 start-0 m-3 p-3 rounded shadow" 
     role="alert">
  {{ message }}
</div>
