<div class="container mt-4">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Tytuł</label>
      <input
        type="text"
        id="title"
        class="form-control"
        formControlName="title"
        placeholder="Wprowadź tytuł"
      />
    </div>

    <div class="mb-3">
      <label for="text" class="form-label">Tekst</label>
      <quill-editor
        id="text"
        formControlName="text"
        [styles]="{ height: '200px' }"
      ></quill-editor>
    </div>

    <div class="mb-3">
      <label for="imageUrl" class="form-label">URL obrazu</label>
      <input
        type="url"
        id="imageUrl"
        class="form-control"
        formControlName="imageUrl"
        placeholder="Wprowadź URL obrazu"
      />
    </div>

    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">
        Zapisz post
      </button>
      <button type="button" class="btn btn-secondary" (click)="navigateToCsv()">
        Dodaj z CSV
      </button>
    </div>
  </form>

  <div *ngIf="submittedPost" class="mt-5">
    <h3>{{ submittedPost.title }}</h3>
    <img
      *ngIf="submittedPost.imageUrl"
      [src]="submittedPost.imageUrl"
      alt="Post Image"
      class="img-fluid"
    />
    <div [innerHTML]="submittedPost.text"></div>
  </div>
</div>
